nodered/data/.flows.json.backup
[
    {
        "id": "afac86258de7b6e2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "917e16f92bedecfc",
        "type": "mqtt-broker",
        "name": "Greenhouse MQTT Broker",
        "broker": "host.docker.internal",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "91dd54f69453a0f9",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "GreenhouseDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "f9d2196b76bac5f2",
        "type": "mqtt in",
        "z": "afac86258de7b6e2",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "917e16f92bedecfc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 160,
        "wires": [
            [
                "b09d7ad117e3258c"
            ]
        ]
    },
    {
        "id": "e9cb5f789d736fd2",
        "type": "influxdb out",
        "z": "afac86258de7b6e2",
        "influxdb": "91dd54f69453a0f9",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "myorg",
        "bucket": "greenhouse",
        "x": 840,
        "y": 200,
        "wires": []
    },
    {
        "id": "b09d7ad117e3258c",
        "type": "function",
        "z": "afac86258de7b6e2",
        "name": "function 1",
        "func": "const topicParts = msg.topic.split('/');\nconst sensor = topicParts[0];  // Use sensor type (e.g., \"temperature\", \"humidity\") as the measurement\nconst greenhouse = topicParts[1];\nconst zone = topicParts[2];\n\n// Get the sensor value dynamically from msg.payload\nconst value = msg.payload[sensor];\n\nmsg.measurement = greenhouse + '_' + zone\n\n// Construct payload for InfluxDB\nmsg.payload = {\n  [sensor]: value,  // Set the measurement to the sensor type\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 200,
        "wires": [
            [
                "e9cb5f789d736fd2",
                "a46384bb4347912c"
            ]
        ]
    },
    {
        "id": "a46384bb4347912c",
        "type": "debug",
        "z": "afac86258de7b6e2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 380,
        "wires": []
    }
]