nodered/data/.flows.json.backup
[
    {
        "id": "afac86258de7b6e2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "917e16f92bedecfc",
        "type": "mqtt-broker",
        "name": "Greenhouse MQTT Broker",
        "broker": "mqtt-broker",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "91dd54f69453a0f9",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "GreenhouseDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "f9d2196b76bac5f2",
        "type": "mqtt in",
        "z": "afac86258de7b6e2",
        "name": "temperature_subscriber",
        "topic": "temperature/+/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "917e16f92bedecfc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 220,
        "wires": [
            [
                "b09d7ad117e3258c"
            ]
        ]
    },
    {
        "id": "e9cb5f789d736fd2",
        "type": "influxdb out",
        "z": "afac86258de7b6e2",
        "influxdb": "91dd54f69453a0f9",
        "name": "add_to_greenhouse_bucket",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "myorg",
        "bucket": "greenhouse",
        "x": 1080,
        "y": 460,
        "wires": []
    },
    {
        "id": "b09d7ad117e3258c",
        "type": "function",
        "z": "afac86258de7b6e2",
        "name": "parse_topic",
        "func": "const topicParts = msg.topic.split('/');\nconst sensor = topicParts[0];  // Use sensor type (e.g., \"temperature\", \"humidity\") as the measurement\nconst greenhouse = topicParts[1];\nconst habitat = topicParts[2];\n\n// Get the sensor value dynamically from msg.payload\nconst value = msg.payload[sensor];\n\nmsg.measurement = greenhouse\n\nmsg.payload = \n[\n  {\n    [sensor]: value,\n  },\n  {\n    \"habitat\": habitat\n  }\n];\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 380,
        "wires": [
            [
                "e9cb5f789d736fd2",
                "0522bdfdcc7de1f1"
            ]
        ]
    },
    {
        "id": "6f44131d9cb83f9d",
        "type": "mqtt in",
        "z": "afac86258de7b6e2",
        "name": "water_level_subscriber",
        "topic": "water_level/+/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "917e16f92bedecfc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 300,
        "wires": [
            [
                "b09d7ad117e3258c"
            ]
        ]
    },
    {
        "id": "581d2a12b37181d5",
        "type": "mqtt in",
        "z": "afac86258de7b6e2",
        "name": "light_intensity_subscriber",
        "topic": "light_intensity/+/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "917e16f92bedecfc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 380,
        "wires": [
            [
                "b09d7ad117e3258c"
            ]
        ]
    },
    {
        "id": "6a92b8960275815f",
        "type": "mqtt in",
        "z": "afac86258de7b6e2",
        "name": "soil_moisture_subscriber",
        "topic": "soil_moisture/+/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "917e16f92bedecfc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 460,
        "wires": [
            [
                "b09d7ad117e3258c"
            ]
        ]
    },
    {
        "id": "1a4a4bee4f814c14",
        "type": "mqtt in",
        "z": "afac86258de7b6e2",
        "name": "co2_subscriber",
        "topic": "co2/+/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "917e16f92bedecfc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 540,
        "wires": [
            [
                "b09d7ad117e3258c"
            ]
        ]
    },
    {
        "id": "8f08912e93482c8b",
        "type": "mqtt in",
        "z": "afac86258de7b6e2",
        "name": "humidity_subscriber",
        "topic": "humidity/+/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "917e16f92bedecfc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 620,
        "wires": [
            [
                "b09d7ad117e3258c"
            ]
        ]
    },
    {
        "id": "6ac7e871a2856b41",
        "type": "mqtt in",
        "z": "afac86258de7b6e2",
        "name": "pH_subscriber",
        "topic": "ph/+/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "917e16f92bedecfc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 140,
        "wires": [
            [
                "b09d7ad117e3258c"
            ]
        ]
    },
    {
        "id": "0522bdfdcc7de1f1",
        "type": "debug",
        "z": "afac86258de7b6e2",
        "name": "final_message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 300,
        "wires": []
    }
]